<ion-header>
  <ion-toolbar>
    <ion-title align="center">Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="container-phone">
        <div class="interfaz">
       <div class="masSoli">
           <div class="header1">
                <h1 class="titulo-form">Más Solicitados</h1>
                <a href="" class=" link">Ver Más ></a>
           </div>
           <div class="soli">
               <div class="card">
                   <img src="../../../assets/imgmudt/SVG_Mudanzas Locales 1.svg" alt="">
                   <a href="link">Mudanzas Locales</a>
               </div>
               <div class="card">
                <img src="../../../assets/imgmudt/SVG_Servicios Compartidos 1.svg" alt="">
                <a href="link">Mudanzas Locales</a>
                
            </div>
            <div class="card">
                <img src="../../../assets/imgmudt/SVG_Carga Y Descarga 1.svg" alt="">
                <a href="link">Mudanzas Locales</a>
            </div>  
           </div>
       </div>
        <div class="comoUsar">
           <h1 class="titulo-form">Como usar Muda-T</h1>
           <div class="pasos">
             <div class="paso1">
               <div class="col-img">
                 <img src="../../../assets/imgmudt/Carga Y Descarga.png" alt="">
               </div>
               <div class="ins">
                 <p class="text-body1">
                   Selecciona el servicio que deseas adquirir
                 </p>
                 <a href="" class="btn btn-terciario">Ver Servicios ></a>
               </div>
             </div>
             <div class="paso1">
               <div class="col-img">
                 <img src="../../../assets/imgmudt/PNG_SeleccVehiculo.png" alt="">
               </div>
               <div class="ins">
                 <p class="text-body1">Indique las pertenencias a transportar</p>
                 <a href="" class="btn btn-terciario">Ver Vehiculos ></a>
                </div>
             </div>
             <div class="paso1">
               <div class="col-img">
                 <img src="../../../assets/imgmudt/PNG_UbicaciónSalidaLLegada.png" alt="">
               </div>
               <div class="ins">
                 <p class="text-body1">
                   Elige tu ubicación, lugar de destino y fechas disponibles
                 </p>
               </div>
             </div>
             <div class="paso1">
               <div class="col-img">
                 <img src="../../../assets/imgmudt/PNG_PagarServicio.png" alt="">
               </div>
               <div class="ins">
                 <p class="text-body1">
                   Paga por el servicio solicitado, para que pueda ser agendado
                 </p>
               </div>
             </div>
             <div class="paso1">
               <div class="col-img">
                 <img src="../../../assets/imgmudt/PNG_EsperarServicio.png" alt="">
               </div>
               <div class="ins">
                 <p class="text-body1">
                   Recibiras un correo / mensaje de confirmación. Espera a las fechas que indicaste para que el servicio se lleve a cabo
                 </p>
               </div>
             </div>
             
             
           </div>
           
        </div>
       <div class="botones">
            <a href="" class="btn btn-primario">Solicitar servicio</a>
          </div>
        </div>
    </div>
</div>
</ion-content>
