<div class="container">
  <div class="container-phone">
      <div class="interfaz">
          <div class="img">
              <img src="../../assets/imgmudt/PNG_VectorInicio.png" alt="">
          </div>
          <div class="text">
              <span class="logo">Muda-T</span>
              <p class="bienvenido">Bienvenido a Muda-T</p>
              <p class="frase">Expertos en Transportar tus Mejores Momentos</p>
          </div>
          <div class="botones">
              <a [routerLink]="['/login']"  class="btn btn-primario">INICIAR SESIÓN</a>
              <a [routerLink]="['/registro']" class="btn btn-secundario">REGISTRARME</a>
          </div>
      </div>
  </div>
</div>